@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

body {
  background: linear-gradient(rgb(10,5,0,0.05), rgb(10,5,0,0.1)), url("../img/bltb_back.webp") no-repeat fixed;
  background-size: cover;
  font-family: "Readex Pro", Open Sans, sans-serif;
  }

.box {
  border-radius: 1.5em 0.175em;
  background: rgb(10,5,0,0.85);
  color: white;
  border: 1px solid #aae6ff;
  padding: 0.75em 1.25em;
  }
  
a, .links li:before, .links li:after, .links .last {
  color: #1896ca;
  }
  
.sidebar-image img {
  /*border-radius: 0.175em;*/
  border-radius: 50%;
  border: 0px;
  }

.button {
	border: none;
	background-color: #1896ca;
	color: white;
	padding: 10px 15px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	font-size: 12px;
}

/*Alternate style of spacers for nav links. Replace with "" for no spacer characters.*/  
.links li:before {
  content: "🔫";
  }

.links li:after {
  content: "";
  }

.links .last:after {
  content: "🔫";
  }

/*Increase gap between automatic spacers.*/
.links li:before, .links li:after {
  letter-spacing: 0.375em;
  }