@import url(common_projets_min.css);

body {
  background: linear-gradient(rgb(10,5,0,0.05), rgb(10,5,0,0.1)), url("../img/knights.webp") no-repeat fixed;
  background-size: cover;
}

b {
  color: brown;
}

/*Alternate style of spacers for nav links. Replace with "" for no spacer characters.*/  
.links li:before {
  content: "🔫";
}

.links li:after {
  content: "";
}

.links .last:after {
  content: "🔫";
}